
/*Currently not doing anything Messing around to test background*/
.page-content {
	/*background-image: url(../images/temppic.jpg);*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: red;
}

.kombucha-body {
	background-color: rgb(255, 165, 102);
}

header {
	background-color: rgb(242, 247, 255);
	width: 100%;
	/*padding: 10px;*/
}

/*font for header*/
h1 {
	font-size: 45px;
	font-family: 'Slabo 27px', serif;
}

.img-header {
	width: 100%;
 	position: absolute;
 	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: #fff;
	padding: 20px;
	margin-top: 20px;
	font-size: 40px;
	background-color: rgba(255, 165, 102, 0.70);
  }

  .img-link {
  	/*border: 10px;*/
  	padding: 20px;
  	width: 100%;
  }

  .inst-image {

  }


  div > a > h4 {
  	width: 93.3%;
	position: absolute;
	text-align: center;
	margin-top: 30px;
	color: #fff;
	background-color: rgba(255, 165, 102, 0.70);
	font-family: 'Slabo 27px', serif;
	padding-top: 5px;
	padding-bottom: 5px;
  }

  .link-header {
  	position: absolute;
	font-family: 'Slabo 27px', serif;
	text-align: center;
	background-color: rgba(255, 165, 102, 0.70);
	color: rgb(148, 188, 252);
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	 
	margin-top: 20px;
	font-size: 30px;
  }

.login-head {
	float: right;
	font-size: 20px;
}

.nav-buttons {
	/*float: right;*/
	font-size: 10px;
}

/*footer headings*/
footer > div > div > h4 {
	width: 100%;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	background-color: rgb(255, 165, 102);
}

footer > div > div > ul > li {
	font-size: 18px;
}

footer > div > div > ul {
	list-style-type: none;

}


.drop-title {
	font-family: 'Slabo 27px', serif;
	font-size:20px;
}

/*dropdown menu text*/
ul > li > a {
	font-size: 18px;
	margin-left: 10px;
	color: black;
	/*width: 200px;*/
}

.photo-link {
	width: 100%;
}

/*----MEDIA QUERIES-----*/

@media (min-width: 1600px){
  .container {
    width: 1570px;
  }
}

