
/*Currently not doing anything Messing around to test background*/
.page-content {
	/*background-image: url(../images/temppic.jpg);*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: red;
}

.header-font {
	color: rgb(0, 0, 0);
}

.kombucha-body {
	background-color: rgb(255, 165, 102);
}

header {
	background-color: rgb(242, 247, 255);
	width: 100%;
	/*padding: 10px;*/
}

/*font for header*/
h1 {
	font-size: 45px;
	font-family: 'Slabo 27px', serif;
}

.content {
	background-color: rgb(242, 247, 255);
	margin: 20px;
	padding: 20px;
}

.img-header {
	width: 100%;
 	position: absolute;
 	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: rgb(242, 247, 255);
	/*color: #fff;*/
	padding: 20px;
	margin-top: 20px;
	font-size: 40px;
	text-shadow: 0 0 5px #ffa566;
	/*background-color: rgba(255, 165, 102, 0.70);*/
  }

  .img-link {
  	/*border: 10px;*/
  	padding: 20px;
  	width: 100%;
  }

  .inst-image {

  }

/*Text for lower link-images*/
  div > a > h4 {
  	width: 93.3%;
	position: absolute;
	text-align: center;
	margin-top: 30px;
	color: rgb(242, 247, 255);
	text-shadow: 0 0 5px #ffa566;
	/*background-color: rgba(255, 165, 102, 0.70);*/
	font-family: 'Slabo 27px', serif;
	padding-top: 100px;
	padding-bottom: 5px;
  }

  .link-header {
  	position: absolute;
	font-family: 'Slabo 27px', serif;
	text-align: center;
	background-color: rgba(255, 165, 102, 0.70);
	color: rgb(148, 188, 252);
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	 
	margin-top: 20px;
	font-size: 30px;
  }

.login-head {
	float: right;
	font-size: 20px;
}

.nav-buttons {
	/*float: right;*/
	font-size: 10px;
}

footer {
	background-color: rgb(242, 247, 255);
}

/*footer headings*/
footer > div > div > h4 {
	width: 100%;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	background-color: rgb(255, 165, 102);
}

footer > div > div > ul > li {
	font-size: 18px;
}

footer > div > div > ul {
	list-style-type: none;

}


.drop-title {
	font-family: 'Slabo 27px', serif;
	font-size:20px;
}

/*dropdown menu text*/
ul > li > a {
	font-size: 18px;
	margin-left: 10px;
	color: black;
	/*width: 200px;*/
}



#tea-types-col {
	border-color: black;
	 border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.photo-link-foot {
	width: 100%;
	border-radius: 200px;
}

.photo-link-main {
	width: 100%;
}

.float-right-img {
	float: right;
}

#chk

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*.delete-button {
	float: left;
}*/

/*----MEDIA QUERIES-----*/

@media (min-width: 1600px){
  .container {
    width: 1570px;
  }
}

